.navbar{
    margin-top: 0px;
    background-color: rgb(4, 39, 39);
   
}
.navbar-nav .nav-item .nav-link{
    color:white;
}
.ab{
   width: 80px;
   max-height: 30px;
  
}
.active{
    background-color: aqua;
}